<footer id="contacts" class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col">
                <div class="contact-info">
                    <div class="fs-3"><span class="material-symbols-outlined text-success fs-2">
                            phone_in_talk
                        </span> +7 (701) 908-76-45</div>
                    <div class="fs-3"><span class="material-symbols-outlined text-success fs-2">
                            phone_in_talk
                        </span> +7 (708) 615-74-13</div>
                    <div class="address fs-4"><span class="bi bi-geo-alt text-success"></span> Астана, Улица Сәбит Мұқанов, 35</div>
                </div>
            </div>
            <div class="col">
                <div class="bi bi-instagram fs-4"><a target="_blank" href="https://www.instagram.com/salem.sklad/" class="text-white" style="text-decoration: none;"> Instagram</a></div>
                <div class="bi bi-whatsapp text-success fs-4"><a target="_blank" href="https://api.whatsapp.com/send/?phone=7086157413&text=Здравствуйте%2C+нашел+вас+через+сайт+хочу+арендовать+помещение" class="text-white" style="text-decoration: none;"> WhatsApp</a></div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container mt-5">
            Copyright &copy 2024 Salem sklad. All Rights Received
        </div>

    </div>
</footer>