<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salem Sklad - Аренда помещений</title>
    <%- include('components/imports.ejs') %>
</head>

<body>

    <!-- Header -->
    <%- include('components/header.ejs') %>
    <!-- Navigation -->
    <nav id="navbar" class="navbar">
        <div class="menu container-fluid justify-content-center">
            <ul class="row align-items-center">
                <div class="about col">
                    <li><a href="#about">O Salem sklad</a></li>
                </div>
                <div class="col">
                    <li><a href="#prices">Цены</a></li>
                </div>
                <div class="col">
                    <li><a href="#contacts">Контакты</a></li>
                </div>
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <main>
        <section id="about" class="py-5">
            <div class="container">
                <h2 class="text-center">О нас</h2>
                <p class="text-center">Ваш текст об описании компании и услуг</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, libero sunt placeat
                    aspernatur voluptate pariatur est enim harum ullam delectus, voluptates nihil facere nobis
                    exercitationem quod eius suscipit doloribus sequi.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, libero sunt placeat
                    aspernatur voluptate pariatur est enim harum ullam delectus, voluptates nihil facere nobis
                    exercitationem quod eius suscipit doloribus sequi.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, libero sunt placeat
                    aspernatur voluptate pariatur est enim harum ullam delectus, voluptates nihil facere nobis
                    exercitationem quod eius suscipit doloribus sequi.</p>
            </div>
        </section>

        <section id="prices" class="py-5 bg-light">
            <div class="container">
                <h2 class="text-center">Цены</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores similique, necessitatibus reiciendis
                    doloremque adipisci non vitae doloribus esse harum saepe suscipit! Quia sapiente voluptatem optio
                    reiciendis provident distinctio vitae numquam?</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla modi minima tempora at voluptatum
                    quaerat consequatur eum placeat animi error quo commodi natus temporibus nemo vero dolorem aliquam,
                    id voluptate?</p>
                <!-- Таблица с ценами на аренду помещений -->
            </div>
        </section>

        <section id="contacts" class="py-5">
            <div class="container">
                <h2 class="text-center">Контакты</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius facilis, fugit eos consequuntur
                    officia exercitationem illum, eveniet quo quis non, repellat perspiciatis nisi quidem velit
                    accusamus nesciunt cum temporibus sint?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci rem in consectetur iste architecto
                    perferendis aut reprehenderit molestiae itaque ea dolor obcaecati explicabo voluptas nobis
                    blanditiis, voluptatem veritatis magnam! Reprehenderit!</p>
                <!-- Форма обратной связи или контактная информация -->
            </div>
        </section>
    </main>
    <%- include('components/footer.ejs') %>
    
    <%- include('scripts/menu.ejs') %>
</body>


</html>