.navbar {
    background-color: #000000;
    padding: 0px;
    margin: 0px;
}

.navbar_scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation-name: fadeInUp;
    animation-duration: 1s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        top: -50px;
    }

    to {
        opacity: 1;
        top: 0px;
    }
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.navbar a {
    padding: 15px;
    text-decoration: none;
    color: white;
    display: block;
    margin: auto;
    text-align: center;
}

.about {
    background-color: #228B22;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
}

.footer a {
    text-decoration: none;
}

.instagram {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    font-size: 40px;
    line-height: 40px;

    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}
.social_media {
    display: inline-block;
}
.social_media:hover {
    transform: translateY(-10px);
}

.head{
        text-align: center;
}
.main a{
    text-decoration: none;
}
.main li{
    list-style-type: none;
}
.circle {
    width: 50px;
    height: 50px;
    background-color: #228B22;
    border-radius: 50%; /* Делаем круглый */
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #fff;
    border-width: 2em;
}
.circle-2 {
    display: inline-flex;
    width: 100px;
    height: 100px;
    background-color: #228B22;
    border-radius: 50%; /* Делаем круглый */
    justify-content: center;
    align-items: center;
    text-align: center;
}
.green-line {
    display: inline-flex;
    width: 300px;
    height: 50px;
    background-color: #228B22;
    margin-left: 10px; /* Расстояние между кругом и линией */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info1{
    padding-top: 50px;
}

.info .row{
    padding: 10px;
    text-align: center;
    align-items: center;
}

.info2 .col-lg-4{
    margin-bottom: 1.5em;
    text-align: center;
    align-items: center;
}
