.navbar {
    background-color: #000000;
    padding: 0px;
    margin: 0px;
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.navbar a {
    padding: 15px;
    text-decoration: none;
    color: white;
    display: block;
    margin: auto;
    text-align: center;
}

.about {
    background-color: #228B22;
}

.navbar_scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation-name: fadeInUp;
    animation-duration: 1s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        top: -50px;
    }

    to {
        opacity: 1;
        top: 0px;
    }
}